<div class="hold-transition login-page">

    <form>
        <div style="width: 100% !important;MARGIN: 0% 5% 0% 10%;">
            <div class="row col-xs-12">
                <h1 style=" text-align: center;">
                    <b> Registrar Nuevo Cliente</b>
                </h1>
            </div>

            <div class="row col-xs-12">
                <div>


                </div>
            </div>

            <div class="row col-xs-12">
                <div>&nbsp;</div>
            </div>


            <div class="row col-xs-12">
                <div class="col">
                    <label for="nom">Npmbbre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="col">
                    <label for="ldir">Direccion</label>
                    <input type="text" class="form-control" id="direccion" name="direccion">
                </div>


            </div>

            <div class="row col-xs-12">
                <div class="col">
                    <label for="lcorreo">Correo</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="col">
                    <label for="ltelefono">Telefono</label>
                    <input type="text" class="form-control" id="telefono" name="telefono">
                </div>


            </div>


            <div class="row col-xs-12">
                <div class="col">
                    <label for="lcorreo">Tipo Documento</label>

                    <select class="form-select" id="tdoc" name="tdoc" aria-label="Default select example">
                      <option value="$" >Seleccione una opcion...</option>
                      <option value="1">Cedula de Ciudadania</option>
                      <option value="2">Nit</option>
                      <option value="3">Rut</option>
                    </select>

                </div>
                <div class="col">
                    <label for="lndoc">Numero Documento</label>
                    <input type="text" class="form-control" id="ndos" name="ndoc">
                </div>


            </div>

            <div class="row col-xs-12">
                <div>&nbsp;</div>
            </div>

            <div class="row col-xs-12">
                <div class="col" style=" text-align: center;">
                    <button type="button" class="btn btn-primary" routerLink="/login">Regresar</button>
                </div>
                <div class="col" style=" text-align: center;">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </div>


            <div class="row col-xs-12">
                <div>&nbsp;</div>
            </div>

        </div>

    </form>
</div>
