<div class="hold-transition login-page">

    <form>
        <div style="width: 100% !important;MARGIN: 0% 5% 0% 10%;">
            <div class="row col-xs-12">
                <h1 style=" text-align: center;">
                    <b> Recordar Usuario</b>
                </h1>
            </div>

            <div class="row col-xs-12">
                <div>
                    <p>Sr . usuario , una URL con la nueva contrasena le sera enviada a vuelta de correo ,</p>
                    <p> esta contrasena es temporal en la url se envia el formulario de cambio de contrasena,</p>
                </div>
            </div>

            <div class="row col-xs-12">
                <div>&nbsp;</div>
            </div>

            <div id="" style="width: 50% !important;MARGIN: 0% 5% 0% 10%;">
                <div class="row col-xs-12">
                    <div class="col">
                        <label for="lreferencia">Correo</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                </div>


                <div class="row col-xs-12">
                    <div>&nbsp;</div>
                </div>

                <div class="row col-xs-12">
                    <div class="col" style=" text-align: center;">
                        <button type="button" class="btn btn-primary" routerLink="/login">Regresar</button>
                    </div>
                    <div class="col" style=" text-align: center;">
                        <button type="submit" class="btn btn-success">Consultar</button>
                    </div>
                </div>


                <div class="row col-xs-12">
                    <div>&nbsp;</div>
                </div>
            </div>
        </div>

    </form>
</div>
